<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.CoreUtility" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Language.Intellisense" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.SDK.Analyzers" version="16.5.5" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Data" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.Logic" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Text.UI" version="14.3.25407" targetFramework="net46" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.6.13" targetFramework="net46" />
  <package id="Microsoft.VSSDK.BuildTools" version="16.7.26" targetFramework="net46" developmentDependency="true" />
</packages>